@font-face {
  font-family: dana;
  src: url("../fonts/Varela_Round/VarelaRound-Regular.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(16, 105, 75);
  text-decoration: inherit;
}

a:hover {
  color: rgb(16, 105, 75);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin-left: 15%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: rgb(16, 105, 75);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #7ddb12;
  }

  button {
    background-color: #f9f9f9;
  }
}



.header {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  gap: 45px;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #ffffff;
}

.buttonHome {
  background-color: rgb(16, 105, 75);
  color: #ffffff;
  font-family: dana;
  font-weight: lighter;
  font-size: 20px;
  width:120%;

}

.buttonF {
  background-color: rgb(16, 105, 75);
  color: #ffffff;
  font-family: dana;
  font-weight: lighter;
  font-size: 20px;
}

.text {
  margin-top: 5%;
  color: rgba(255, 166, 0, 0.737);
  font-size: 20px;
  font-family: dana;
  width: 70%;
}

.contant {
  color: rgb(16, 105, 75);
}

.flowers {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 30%;
}

.Welcom {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15%;
  gap: 100px;


}

.formApp>label {
  color: rgb(16, 105, 75);
  font-size: 25px;
  font-family: dana;
}

.formApp {
  margin-top: 50%;

}

.appointmentPage {
  margin-left: 100%;
  width: 100%;
}

.formApp>input {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  background-color: rgb(239, 237, 237);
  height: 50px;
  border-radius: 30px;
  color: rgb(16, 105, 75);
  font-size: 18px;
  font-family: dana;
}

.formApp>select {
  color: rgb(16, 105, 75);
  font-size: 20px;
  font-family: dana;
  border: rgb(16, 105, 75) solid 3;
  border-radius: 35px;
  background-color: rgb(239, 237, 237);
  height: 50px;
  width: 100%;

}



.services {
  color: rgb(16, 105, 75);
  font-size: 20px;
  font-family: dana;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;

}

.editPage {
  border: rgb(16, 105, 75) solid 2px;
  border-radius: 35px;
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  padding: 1%;
}

.formEdit>input {
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 80%;
  background-color: rgb(239, 237, 237);
  height: 40px;
  border-radius: 35px;
}

.formEdit>select {
  color: rgb(16, 105, 75);
  font-size: 20px;
  font-family: dana;
  border: rgb(16, 105, 75) solid 3;
  border-radius: 35px;
  background-color: rgb(239, 237, 237);
  height: 40px;
  width: 80%;

}

.adminEntrence {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.adminEntrence>input {
  border: rgb(16, 105, 75) solid 2px;
  width: 100%;
  background-color: rgb(239, 237, 237);
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-family: dana;
}

.listAppointments {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 40%;
  gap: 20px;
}

.listAppointments>li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.listAppointments>li>div {
  font-size: 20px;
  font-family: dana;
  color: rgb(16, 105, 75);

}

.liApp {
  border: rgb(16, 105, 75) solid 2px;
  border-radius: 10px;
  font-size: 20px;
  font-family: dana;
}

.imgService {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.services {
  margin-top: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}

.addAppPageFlex{
 padding-right: 10%;
  width: 90%;
}